require 'pry'
<h1>Figures</h1>
binding.pry
<%= @figure.name %>

<ul>
  <% @figure.titles.each do |title| %>
  <%= title.name  %>
  <% end %>
</ul>


<ul>
  <% @figure.landmarks.each do |landmark|  %>
  <%= landmark.name %>
  <% end %>
</ul>
